body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: url('https://i.pinimg.com/originals/b5/0e/eb/b50eeb6023a90ac108bb23b9975b4fad.jpg');
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-attachment: fixed;
}
hr{
    border: none;
    height: 1.5px;
    background-color: #0d0000;
    margin: 60px 0;
}
#content{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}
#head{
    font-size: 25;
}
#title{
    font-size: 18;
}
#top{
    text-align: center;
}
#align_buttons{
    text-align: center;
}

#nav{
    text-align:end;
}
h1{
    text-align: center;
}
.nstp{
    border: 1px solid black;
    border-radius: 50%;
}
.img{
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    align-items: center;
}
.subj_button{
    background-color: #4e2723;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
}
.subj_button:hover{
    background-color: #4f332f;
}
.section{
    display: none;
    background-color: rgb(255, 255, 255, 0.93);
    padding: 100px;
    border: 1px solid black;
    border-radius: 15px;
}
.active{
display:block;
}
